<body>
    <nav>
      <a href="/">
        Home
      </a>
    </nav>

    <h1>Eldest director</h1>

<p>The eldest director in our dataset right now is <a href="/directors/<%= @senior_director.id %>"><%= @senior_director.name %></a>, born on <%= @senior_director.dob %>.</p>

  </body>
</html>
